{% extends "common/base.html" %}

{% block title %}Device {{object.name}}{% endblock %}


{% block content %}

<h1>Device {{object.name}}</h1>
	<form method="post" action="{% url 'devices:delete' d_sid=object.sequence_id %}">
		{% csrf_token %}
		<input type="submit" value="Delete device" class="btn btn-danger"/>
	</form>


<h2>Data</h2>
	<a class="btn-data-download" href="{% url 'devices:download-csv' d_sid=object.sequence_id %}">Download</a>

	<div class="div-ajax">
		{% include "devices/device_gps_measurements.html" with gps_measurements=table_gps_measurements gps_measurements_ids=table_gps_measurements_ids extra=extra only %}
	</div>


<h2>Map</h2>
	<div id="map"></div>


<div class="margin-bottom-200px"></div>

{% endblock %}


{% block end-body %}

<script>
	function initMap() {
		var gps_measurements = [
			{% for m in gps_measurements %}[{{forloop.counter}},{{m.latitude}},{{m.longitude}},"{{m.date_collected|date:'Y-m-d H:i:s'}}"],{% endfor %}
		];

		var points = [];
		for (var i = 0; i < gps_measurements.length; i++)
			points.push({
				lat: gps_measurements[i][1],
				lng: gps_measurements[i][2],
			});

		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 7,
			center: {lat: 42, lng: 13},
		});

		/* Path */
		var path = new google.maps.Polyline({
			path: points,
			strokeColor: "#000000",
			strokeOpacity: 1.0,
			strokeWeight: 1,
			map: map,
		});

		/* Markers */
		var markers = [];
		for (var i = 0; i < gps_measurements.length; i++)
			markers.push(
				new google.maps.Marker({
					position: points[i],
					info_window_content: "#" + gps_measurements[i][0] + ": " + gps_measurements[i][3],
					map: map,
				})
			);
		if (markers.length >= 2) {
			markers[0].setLabel("S");
			markers[markers.length-1].setLabel("E");
		}

		/* Info window */
		var info_window = new google.maps.InfoWindow();
		for (var i = 0; i < gps_measurements.length; i++) {
			markers[i].addListener('click', function() {
				info_window.setContent(this.info_window_content);
				info_window.open(map, this);
			});
        }

		/* Show markers panel */
		var map_panel = document.createElement("div");
		map_panel.style.backgroundColor = "#fff";
		map_panel.style.borderRadius = "3px";
		map_panel.style.height = "39px";
		map_panel.style.display = "table-cell";
		map_panel.style.marginTop = "10px";
		map_panel.style.boxShadow = "rgba(0, 0, 0, 0.3) 0px 1px 4px -1px";
		map_panel.style.cursor = "pointer";
		map_panel.index = 1;

		var map_panel_inner = document.createElement("div");
		map_panel_inner.style.color = "rgb(86, 86, 86)";
		map_panel_inner.style.fontFamily = "Roboto,Arial,sans-serif";
		map_panel_inner.style.fontSize = "15px";
		map_panel_inner.style.fontWeight = "400";
		map_panel_inner.style.paddingLeft = "12px";
		map_panel_inner.style.paddingRight = "12px";
		map_panel_inner.style.textAlign = 'center';
		map_panel_inner.style.lineHeight = "39px";
		<!--map_panel_inner.innerHTML = '<table style="margin: 10px 0px 10px 0px"><tr><td><input type="checkbox" id="map-checkbox" checked></td><td style="vertical-align: top">Show markers?</td></tr></table>';-->
		map_panel_inner.innerHTML = '<input type="checkbox" id="map-checkbox" checked>Show markers?';
		map_panel_inner.addEventListener("click", function(event) {
			console.log(event);
			var checkbox = document.getElementById("map-checkbox");
			if (event.target != checkbox) {
				checkbox.checked = !checkbox.checked;
			}

			var new_map = checkbox.checked ? map : null;
			<!--if (checkbox.checked)-->
				<!--new_map = map;-->

			for (var i = 0; i < markers.length; i++)
				markers[i].setMap(new_map);
		});

		map_panel.appendChild(map_panel_inner);

		map.controls[google.maps.ControlPosition.TOP_CENTER].push(map_panel);
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}&callback=initMap"></script>

{% endblock %}

