{% extends "common/base.html" %}

{% block title %}Device {{object.name}}{% endblock %}


{% block content %}

<h1>Device {{object.name}}</h1>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#device-delete-modal">
		Delete device
	</button>
	<div id="device-delete-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete device</h4>
				</div>
				<div class="modal-body">
					Are you sure?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Cancel
					</button>
					<button type="button" class="btn btn-danger device-delete" data-dismiss="modal">
						Delete device
					</button>
					<form method="post" action="{% url 'devices:delete' d_sid=object.sequence_id %}">
						{% csrf_token %}
					</form>
				</div>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#device-delete-data-modal">
		Delete data
	</button>
	<div id="device-delete-data-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete data</h4>
				</div>
				<div class="modal-body">
					Are you sure?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Cancel
					</button>
					<button type="button" class="btn btn-danger device-delete" data-dismiss="modal">
						Delete data
					</button>
					<form method="post" action="{% url 'devices:data-delete' d_sid=object.sequence_id %}">
						{% csrf_token %}
					</form>
				</div>
			</div>
		</div>
	</div>


<h2>Data</h2>
	<a class="btn-data-download" href="{% url 'devices:download-csv' d_sid=object.sequence_id %}">Download</a>

	<div class="div-ajax">
		{% include "devices/device_gps_measurements.html" with table_gps_measurements=table_gps_measurements table_gps_measurements_ids=table_gps_measurements_ids extra=extra only %}
	</div>


<h2>Map</h2>
	<div id="map"></div>


<div class="margin-bottom-200px"></div>

{% endblock %}


{% block end-body %}

<script>
	function calculate_map_bounds(points) {
		var bounds = new google.maps.LatLngBounds();
		for (var i = 0; i < points.length; i++)
			bounds.extend(points[i]);

		return bounds;
	}


	/* Taken from https://stackoverflow.com/a/13274361 */
	function calculate_map_zoom(bounds, map_height, map_width) {
		var WORLD_DIM = {height: 256, width: 256};
		var ZOOM_MAX = 21;

		function latRad(lat) {
			var sin = Math.sin(lat * Math.PI / 180);
			var radX2 = Math.log((1 + sin) / (1 - sin)) / 2;
			return Math.max(Math.min(radX2, Math.PI), -Math.PI) / 2;
		}

		function zoom(mapPx, worldPx, fraction) {
			return Math.floor(Math.log(mapPx / worldPx / fraction) / Math.LN2);
		}

		var ne = bounds.getNorthEast();
		var sw = bounds.getSouthWest();

		var latFraction = (latRad(ne.lat()) - latRad(sw.lat())) / Math.PI;

		var lngDiff = ne.lng() - sw.lng();
		var lngFraction = ((lngDiff < 0) ? (lngDiff + 360) : lngDiff) / 360;

		var latZoom = zoom(map_height, WORLD_DIM.height, latFraction);
		var lngZoom = zoom(map_width, WORLD_DIM.width, lngFraction);

		return Math.max(Math.min(latZoom, lngZoom, ZOOM_MAX), 0);
	}


	function initMap() {
		/* Measurements */
		var gps_measurements = [
			{% for m in gps_measurements %}[{{forloop.counter}},{{m.latitude}},{{m.longitude}},"{{m.date_collected|date:'Y-m-d H:i:s'}}"],{% endfor %}
		];

		/* Points */
		var points = [];
		for (var i = 0; i < gps_measurements.length; i++)
			points.push({
				lat: gps_measurements[i][1],
				lng: gps_measurements[i][2],
			});

		/* Map */
		var map_div = document.getElementById("map");
		var map_bounds = points.length > 0 ? calculate_map_bounds(points) : null;
		map_div.style.height = "" + Math.floor(map_div.clientWidth * 0.62) + "px";

		var map = new google.maps.Map(map_div, {
			center: map_bounds ? map_bounds.getCenter() : new google.maps.LatLng(0, 0),
			zoom: map_bounds ? calculate_map_zoom(map_bounds, map_div.clientHeight, map_div.clientWidth) : 0,
		});

		/* Path */
		var path = new google.maps.Polyline({
			path: points,
			strokeColor: "#000000",
			strokeOpacity: 1.0,
			strokeWeight: 1,
			map: map,
		});

		/* Markers */
		var markers = [];
		for (var i = 0; i < gps_measurements.length; i++)
			markers.push(
				new google.maps.Marker({
					position: points[i],
					info_window_content: "#" + gps_measurements[i][0] + ": " + gps_measurements[i][3],
					map: null,
				})
			);
		if (markers.length >= 2) {
			markers[0].setLabel("S");
			markers[markers.length-1].setLabel("E");
			markers[0].setMap(map);
			markers[markers.length-1].setMap(map);
		}

		/* Info window */
		var info_window = new google.maps.InfoWindow();
		for (var i = 0; i < gps_measurements.length; i++) {
			markers[i].addListener("click", function() {
				info_window.setContent(this.info_window_content);
				info_window.open(map, this);
			});
        }

		/* Show markers panel */
		var map_panel = document.createElement("div");
		map_panel.style.backgroundColor = "#fff";
		map_panel.style.borderRadius = "3px";
		map_panel.style.height = "39px";
		map_panel.style.display = "table-cell";
		map_panel.style.marginTop = "10px";
		map_panel.style.boxShadow = "rgba(0, 0, 0, 0.3) 0px 1px 4px -1px";
		map_panel.style.cursor = "pointer";
		map_panel.style.zIndex = "1";  // map_panel.index = -1 didn't work

		var map_panel_inner = document.createElement("div");
		map_panel_inner.style.color = "rgb(86, 86, 86)";
		map_panel_inner.style.fontFamily = "Roboto,Arial,sans-serif";
		map_panel_inner.style.fontSize = "15px";
		map_panel_inner.style.fontWeight = "400";
		map_panel_inner.style.paddingLeft = "12px";
		map_panel_inner.style.paddingRight = "12px";
		map_panel_inner.style.textAlign = "center";
		map_panel_inner.style.lineHeight = "39px";
		<!--map_panel_inner.innerHTML = '<table style="margin: 10px 0px 10px 0px"><tr><td><input type="checkbox" id="map-checkbox" checked></td><td style="vertical-align: top">Show markers?</td></tr></table>';-->
		map_panel_inner.innerHTML = '<input type="checkbox" id="map-checkbox">Show markers?';
		map_panel_inner.addEventListener("click", function(event) {
			console.log(event);
			var checkbox = document.getElementById("map-checkbox");
			if (event.target != checkbox)
				checkbox.checked = !checkbox.checked;

			var new_map = checkbox.checked ? map : null;

			for (var i = 1; i < markers.length-1; i++)
				markers[i].setMap(new_map);
		});

		map_panel.appendChild(map_panel_inner);

		map.controls[google.maps.ControlPosition.TOP_CENTER].push(map_panel);
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}&callback=initMap"></script>

{% endblock %}

