#include "settings.h"


HardwareSerial *serial_gprs = &Serial1;
HardwareSerial *serial_gps = &Serial2;

const char *apn = "(apn)";

const char *post_url = "track.kupa.usermd.net/api/measurements/";
const char *api_key = "(api-key)";
